body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #f33131, #fb8a8a);
}


.login {
    width: 500px;
    background-color: #00000050;
    padding: 50px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 20px #000000;
}

    .login h2 {
        font-size: 70px;
        color: #ffffff;
        margin-bottom: 40px;
        letter-spacing: 5px;
    }

input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ffffff91;
    color: white;
    padding: 15px;
    padding-bottom: 5px;
    transition: 0.4s;
    font-size: 24px;
}

    input:focus {
        outline: none;
        border-color: #242424;
    }

        input:focus::placeholder {
            color: transparent;
        }

    input::placeholder {
        color: #ffffff91;
        font-size: 24px;
    }

button {
    margin-top: 30px;
    width: 200px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid #ffffff91;
    letter-spacing: 1px;
    font-size: 22px;
    transition: 0.4s;
    border: 1px solid black;
    color: white;
}

    button:hover {
        background-color: #ffffff39;
        color: #000000b9;
        border: 1px solid #ffffff39;
    }
