
@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
        </a>
    </header>

    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Account Profile</h3>
                    <p class="text-subtitle text-muted">
                        A page where users can change profile information
                    </p>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    @*<nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="index.html">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Profile
                            </li>
                        </ol>
                    </nav>*@
                </div>
            </div>
        </div>
        <section class="section">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-center align-items-center flex-column">


                                <h3 class="mt-3">{{User.FullName}}</h3>
                                <p class="text-small">{{User.FullNameAr}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-8">
                    <form name="userForm" novalidate class="card">
                        <div class="card-body">
                            <div class="row">

                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label for="helperText">Username</label>
                                        <p class="form-control-static">{{User.Username}}</p>
                                    </div>


                                    <div class="form-group">
                                        <label for="basicInput">First Name</label>
                                        <input type="text" class="form-control" name="FirstName" placeholder="Enter First Name" required ng-model="User.FirstName">
                                        <div class="invalid-feedback d-block" ng-show="userForm.$submitted && userForm.FirstName.$error.required">
                                            <i class="bx bx-radio-circle"></i>
                                            First name is required.
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="basicInput">First Name Ar</label>
                                        <input type="text" class="form-control" name="FirstNameAr" placeholder="Enter first name in arabic" ng-model="User.FirstNameAr" arabic>

                                    </div>
                                    <div class="form-group">
                                        <label for="disabledInput">Phone Number</label>
                                        <input type="text" class="form-control" name="PhoneNumber" placeholder="Enter phone number" ng-model="User.Phone" phone-number>
                                        <div class="invalid-feedback d-block" ng-show="userForm.$submitted && userForm.PhoneNumber.$error.required">
                                            <i class="bx bx-radio-circle"></i>
                                            Phone Number is required.
                                        </div>
                                    </div>




                                </div>
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label for="disabledInput">Email</label>
                                        <p class="form-control-static">{{User.Email}}</p>
                                    </div>

                                    <div class="form-group">
                                        <label for="basicInput">Last Name</label>
                                        <input type="text" class="form-control" name="LastName" placeholder="Enter First Name" required ng-model="User.LastName">
                                        <div class="invalid-feedback d-block" ng-show="userForm.$submitted && userForm.LastName.$error.required">
                                            <i class="bx bx-radio-circle"></i>
                                            Last name is required.
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label for="basicInput">Last Name Ar</label>
                                        <input type="text" class="form-control" name="LastNameAr" placeholder="Enter last name in arabic" ng-model="User.LastNameAr" arabic>
                                    </div>




                                </div>

                            </div>

                            <div class="row">
                                <div class="col-sm-12 d-flex justify-content-start">
                                    <button type="submit" class="btn btn-primary me-1 mb-1 " ng-click="UpdateProfile()"><span>Save Changes</span></button>

                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>





    </div>

   


