
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="app">

    <div id="sidebar" class="active" ng-controller="sidebarCtrl">
        <button class="burger-btn"></button>
        <div class="sidebar-wrapper active">
            <div class="sidebar-header">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="logo">
                        <a href="#!/"><img src="~/assets/assets/images/logo/logo.png" alt="Logo" srcset=""></a>
                    </div>
                    
                    <div class="toggler">
                        <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                    </div>
                </div>
            </div>
            <div class="sidebar-menu">
                <ul class="menu">
                    <li class="sidebar-title">Menu</li>

                    <li ng-show="userType === 'Admin'" class="sidebar-item active" ng-class="{ 'active': activeItem === 0 }">
                        <a href="#" class='sidebar-link'>
                            <i class="bi bi-grid-fill"></i>
                            <span>Manage Users</span>
                        </a>
                    </li>

                    <li ng-show="userType === 'Admin'" class="sidebar-item" ng-class="{ 'active': activeItem === 1 }">
                        <a href="#!/addUser" class='sidebar-link'>
                            <i class="fa-solid fa-user-plus"></i>
                            <span>Add User</span>
                        </a>
                    </li>

                    <li ng-show="userType === 'Admin'" class="sidebar-item" ng-class="{ 'active': activeItem === 2 }">
                        <a href="#!/sendEmail" class='sidebar-link'>
                            <i class="fa-solid fa-envelope"></i>
                            <span>Send Email</span>
                        </a>
                    </li>

                    <li class="sidebar-item" ng-class="{ 'active': activeItem === 3 }">
                        <a href="#!/profile" class='sidebar-link'>
                            <i class="bi bi-person-circle"></i>
                            <span>Profile</span>
                        </a>
                    </li>

                    <li class="sidebar-item" ng-class="{ 'active': activeItem === 4 }">
                        <a href="@Url.Action("Logout", "Account", new { })" class='sidebar-link'>
                            <i class="fa-solid fa-arrow-right-from-bracket"></i>
                            <span>Logout</span>
                        </a>
                    </li>



                </ul>
            </div>
            <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
        </div>
    </div>



    <div id="main">
        <ng-view></ng-view>

    </div>



</div>



<script src="~/assets/assets/js/main.js"></script>

